* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container{
    position: relative;
    width: 352px;
    height: 198px;
    margin: 0 auto;
    
    border: 2px solid #fff;

    transform: scale(2) translateY(50%);
}

.game-container canvas{
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}