*{
  box-sizing: border-box ;
}

:root {
  --game-viewport-width: 352px;
  --game-viewport-height: 198px;
  --game-cell-size: 16px;
  --pixel-size: 1;
}

html, body {
  background-color: #333;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;

  width: 100%;
  height: 100%;
}


.fullScreenContainer {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
}

.gameScreen {
  width: var(--game-viewport-width);
  height: var(--game-viewport-height);
  transform: scale(var(--pixel-size));

  outline: 2px solid white;
}




@media(min-width: 352px){
  :root{
    --pixel-size: 1;
  }
}

@media(min-width: 704px){
  :root{
    --pixel-size: 2;
  }
}