:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;
  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7Fc2FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  /* background: #333;
  padding: 0;
  margin: 0; */
  overflow: hidden;
} 

.game-container{
  position: relative;
  /* width: 528px;
  height: 297px; */
  width: 1056px;
  height: 594px;
  /* margin: 0 auto; */
  
  border: 2px solid #fff;
  background-color: #5d4a37;

  transform: scale();
}

.game-container canvas{
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.TextMessage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 36px;
  font-size: 12px;
  padding: 4px;
  background: var(--menu-background);
  border-top: 1px solid var(--menu-border-color);
  color: var(--menu-font-color);
}

.TextMessage_p {
  margin: 0;
  font-size: 12px;
}

.TextMessage span {
  opacity: 0;
}

.TextMessage span.revealed {
  opacity: 1
}


.TextMessage_button {
  margin: 0;
  font-size: 8px;
  padding: 0;
  /* -webkit-appearance: none; */
  background: none;
  border:0;
  font-family: inherit;
  cursor: pointer;

  position: absolute;
  right: 2px;
  bottom:0;

}

.item-container {
  position: absolute;
  right: 5px ;
  top: 5px;
  width: 40px;
  height: 40px;
  background: var(--menu-background);
  border: 4px solid var(--menu-border-color);
}

.item {
  position: relative;
  width: 32px;
  height: 32px;
}

.item img {
  width: 100%;
  overflow: hidden;
}


