index.css

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h4{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

.intro-container img{
  width: 60%;
  height: 50%;
  
  border-radius: 5%;
  top: 0;
  left: 0;
  z-index: -1;
 
}






.areYouReady {
  font-size: 4em;
  font-weight: 600;
  color: #E2AD79;
  text-shadow: 2px 2px 4px #000000;
  animation: pulse 2s infinite;
  
}



@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
}







/*HOW TO PLAY STYLE*/

.container-howToPlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}

.howToPlay-image {
  width: 900px;
  height: 500px;
  border-radius: 5%;
  
}


@keyframes moveUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.howToPlay-h1 {
  font-size: 3em;
  font-weight: 300;
  color: #E2AD79;
  text-shadow: 2px 2px 4px #000000;
  display: inline-block;
}

.letter {
  display: inline-block;
  animation: moveUp 1s ease-in-out infinite;
}






/*Buttons*/

button:hover {
  border-color: #747bff;
  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}





//IMAGE SLIDER

.slide1-container, .slide2-container, .slide3-container, .slide4-container img{
  width: 100%;
  height: 100%;
  
  border-radius: 2%;
  top: 0;
  left: 0;
  z-index: -1;
  border: 1px solid #E2AD79;
  
  
}



/*  SlideIndicator °°° */
.slide-indicator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #E2AD79;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid black;
}

.dot.active {
  background-color: black;
}


